/* styling for the content container */

@media (min-width: 655px) {
    .contentContainer {
        display: flex;
        /* flex-wrap: wrap; */
    }    
}

.containerLeft {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.containerRight {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    border:black solid 2px;
}

.contentArticle {
    display: flex;
    flex-wrap: wrap;
}