footer {
    display: flex;
    background-color: silver;
    color: tomato;
    /* margin: 0; */
    /* what about the space between the footer and the bottom of the page where the background color is different */
}