@import "./fish.css";
@import "./footer.css";
@import "./header.css";
@import "./locations.css";
@import "./quotes.css";
@import "./tips.css";
@import "./content.css";

/* Styling for the entire website */
body {
    margin: 0;
    background-color: #18A558;
}

/* styling for the elements */
h1 {
    align-self: center;
    margin: 10px;
    color: seashell;
}

nav {
    /* padding: 10 10px;
    color: darkorange; */
}

a {
    padding: 10px 10px;
    color: darkorange;
}

p {
    margin: 0 3px;
}

h2 {
    margin: 10px 10px;
}